<h1>New Client Form</h1>
<form action = "/clients" method="post">

  <label for ="new-client">Add your new client!</label>
  <input id ="new-client" name="new-client" type="text">

  <button type="submit">Submit</button>

</form>
