<h1>New Client Form</h1>
<form action="/client" method="post">

  <label for ="new-client">Add your new client!</label>
  <input id ="new-client" name="new-client" type="text">
  <input type="hidden" value=@Model.GetEmployeeId() name="employeeId">

  <button type="submit">Submit</button>

</form>
