@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Hair Salon</h1>
  <hr />
  <h2>@Model["client"].GetClientName()</h2>
  <a href = '/client/new'><button class='btn btn-danger'>Add new client</button></a>
  <a href = '/specialty/new'><button class='btn btn-danger'>Add new specialty</button></a>
  <a href='/employee/new'><button class='btn btn-warning'>Add Employees</button></a>
</div>

<a href='/'><button class='btn btn-success'>Back Home</button></a>
