@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Hair Salon</h1>
  <hr />
  <h2>@Model["client"].GetClientName()</h2>
  <a href = '/employee/@Model["employee"].GetEmployeeId()/client/new'><button class='btn btn-danger'>Add new client</button></a>
  <a href = '/employee/@Model["employee"].GetEmployeeId()'><button class='btn btn-warning'>View "@Model["employee"].GetEmployee()"</button></a>
</div>

<a href='/'><button class='btn btn-success'>Back Home</button></a>
