@using ToDoList.Models;

<h1>Hair Salon</h1>
<h2>Clients: @Model["client"].GetClient()</h2>
<hr />
@if (@Model["client"].Count != 0)
{
  <h4>Here are all the clients for this employee:</h4>
  <ul>
    @foreach (var item in @Model["employeeClients"])
    {
      <li>@item.GetClient()</li>
    }
  </ul>
}


  <a href = '/client/new'><button class='btn btn-danger'>Add new client</button></a>
  <a href = '/specialty/new'><button class='btn btn-danger'>Add new specialty</button></a>
  <a href='/employee/new'><button class='btn btn-warning'>Add Employees</button></a>
</div>

<a href='/'><button class='btn btn-success'>Back Home</button></a>
