<h1>New Specialty Form</h1>
<form action = "/specialties" method="post">

  <label for ="new-specialties">Add your specialty!</label>
  <input id ="new-specialties" name="new-specialties" type="text">

  <button type="submit">Submit</button>

</form>
