@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Database Basics: Epicodus Friday Independent Project</h1>
  <h2>Hair Salon</h2>
<h3><a href="/employee">View Employees</a></h3>
<h3><a href="/client">View Clients</a></h3>
<h3><a href="/specialty">View Specialties</a></h3>

</div>
