<h1>New Employee Form</h1>
<form action = "/employee" method="post">

  <label for ="new-employee">Add your name!</label>
  <input id ="new-employee" name="new-employee" type="text">

  <button type="submit">Submit</button>

</form>
