@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Hair Salon</h1>
  <hr />
  <h2>@Model["employee"].GetName() Employee:</h2>
  <ul>
    @foreach (var item in @Model["client"])
    {
      <h4><a href='/employee/@Model["employee"].GetEmployeeId()/client/@item.GetClientId()'>@item.GetClient()</a></h4>

    }
  </ul>
  <a href='/employee/@Model["employee"].GetEmployeeId()/client/new'><button class='btn btn-danger'>Add Client</button></a>
  <a href='/employee'><button class='btn btn-info'>View Employees</button></a>
  <a href='/'><button class='btn btn-success'>Back Home</button></a>
</div>
